<!--@subject Account confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1>{{htmlescape var=$customer.name}},</h1>
                        <p>Email của bạn {{var customer.email}} cần được xác nhận trước khi được dùng để đăng nhập vào cửa hàng.</p>
                        <p class="highlighted-text">
                            Sử dụng thông tin dưới đây để đăng nhập:<br/>
                            <strong>Email:</strong> {{var customer.email}}<br/>
                            <strong>Mật khẩu:</strong> {{htmlescape var=$customer.password}}
                        </p>
                        <p>Click vào đây để xác nhận email và tự động đăng nhập (liên kết này chỉ có giá trị cho một lần):</p>
                        <table cellspacing="0" cellpadding="0" class="action-button" >
                            <tr>
                                <td>
                                    <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}"><span>Confirm Account</span></a>
                                </td>
                            </tr>
                        </table>
                        <p>
                            Nếu bạn có bất cứ thắc mắc nào, vui lòng liên hệ với chúng tôi tại
                            <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                            {{depend store_phone}} hoặc gọi tới số <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
